.CodeIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url('data:image/svg+xml,<svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.75 4L22 9.25L16.75 14.5M6.25 14.5L1 9.25L6.25 4M13.75 1L9.25 17.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ShopIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.75 10.5V6C15.75 5.00544 15.3549 4.05161 14.6516 3.34835C13.9484 2.64509 12.9945 2.25 12 2.25C11.0054 2.25 10.0516 2.64509 9.34833 3.34835C8.64507 4.05161 8.24998 5.00544 8.24998 6V10.5M19.606 8.507L20.869 20.507C20.939 21.172 20.419 21.75 19.75 21.75H4.24998C4.09219 21.7502 3.93613 21.7171 3.79193 21.6531C3.64774 21.589 3.51863 21.4953 3.41301 21.3781C3.30738 21.2608 3.2276 21.1227 3.17884 20.9726C3.13008 20.8226 3.11343 20.6639 3.12999 20.507L4.39399 8.507C4.42314 8.23056 4.55361 7.9747 4.76024 7.78876C4.96686 7.60281 5.23501 7.49995 5.51298 7.5H18.487C19.063 7.5 19.546 7.935 19.606 8.507ZM8.62498 10.5C8.62498 10.5995 8.58548 10.6948 8.51515 10.7652C8.44482 10.8355 8.34944 10.875 8.24998 10.875C8.15053 10.875 8.05515 10.8355 7.98482 10.7652C7.91449 10.6948 7.87498 10.5995 7.87498 10.5C7.87498 10.4005 7.91449 10.3052 7.98482 10.2348C8.05515 10.1645 8.15053 10.125 8.24998 10.125C8.34944 10.125 8.44482 10.1645 8.51515 10.2348C8.58548 10.3052 8.62498 10.4005 8.62498 10.5ZM16.125 10.5C16.125 10.5995 16.0855 10.6948 16.0152 10.7652C15.9448 10.8355 15.8494 10.875 15.75 10.875C15.6505 10.875 15.5551 10.8355 15.4848 10.7652C15.4145 10.6948 15.375 10.5995 15.375 10.5C15.375 10.4005 15.4145 10.3052 15.4848 10.2348C15.5551 10.1645 15.6505 10.125 15.75 10.125C15.8494 10.125 15.9448 10.1645 16.0152 10.2348C16.0855 10.3052 16.125 10.4005 16.125 10.5Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.DBIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.25 6.375C20.25 8.653 16.556 10.5 12 10.5C7.444 10.5 3.75 8.653 3.75 6.375M20.25 6.375C20.25 4.097 16.556 2.25 12 2.25C7.444 2.25 3.75 4.097 3.75 6.375M20.25 6.375V17.625C20.25 19.903 16.556 21.75 12 21.75C7.444 21.75 3.75 19.903 3.75 17.625V6.375M20.25 6.375V10.125M3.75 6.375V10.125M20.25 10.125V13.875C20.25 16.153 16.556 18 12 18C7.444 18 3.75 16.153 3.75 13.875V10.125M20.25 10.125C20.25 12.403 16.556 14.25 12 14.25C7.444 14.25 3.75 12.403 3.75 10.125" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.BlogLogoIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.25 6.375C20.25 8.653 16.556 10.5 12 10.5C7.444 10.5 3.75 8.653 3.75 6.375M20.25 6.375C20.25 4.097 16.556 2.25 12 2.25C7.444 2.25 3.75 4.097 3.75 6.375M20.25 6.375V17.625C20.25 19.903 16.556 21.75 12 21.75C7.444 21.75 3.75 19.903 3.75 17.625V6.375M20.25 6.375V10.125M3.75 6.375V10.125M20.25 10.125V13.875C20.25 16.153 16.556 18 12 18C7.444 18 3.75 16.153 3.75 13.875V10.125M20.25 10.125C20.25 12.403 16.556 14.25 12 14.25C7.444 14.25 3.75 12.403 3.75 10.125" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.LogoIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url('data:image/svg+xml,<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 27" width="26" height="27"><style></style><path d="m24.1 9c-1.3 6.6-20.5 9.3-20.7 13 0 0.1 0 0.1-0.1 0.1q-0.9-1.1-1.7-2.4c-0.6-1.1-0.2-2.5 0.9-3.1q0-0.1 0-0.1c3.6-1.9 16.6-4.7 19.3-11.8q0-0.1 0.1 0 1.2 1.3 2.1 2.9c0.2 0.5 0.2 0.9 0.2 1.4z"/><path d="m18.6 3.9c-4.3 7.2-17.4 6-18.3 11.4-0.1 0-0.1 0-0.2 0 0-0.5-0.1-1.4-0.1-1.9 0-1.4 0.1-2.8 0.7-4.1 2.5-6 13.2-4.1 13.7-8.4q0-0.1 0.1-0.1 1.9 0.3 3.5 1.1c0.8 0.3 1.1 1.3 0.6 2q0 0 0 0z"/><path d="m25.4 13.2q0-0.1 0-0.1-0.1 0-0.1 0.1 0 0 0 0c-2.1 5.9-14.5 7.8-17.9 9.8 0 0-0.6 0.3-0.6 1 0 0.6 0.5 1 0.6 1 1.5 0.9 3.4 1.1 5.2 1.1 7 0.1 12.8-5.5 12.8-12.6q0-0.1 0-0.3z"/></svg>');
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ShieldIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 12.75L11.25 15L15 9.74999M12 2.71399C9.73574 4.86422 6.72026 6.04357 3.598 5.99999C3.20084 7.20997 2.99898 8.47549 3 9.74899C3 15.341 6.824 20.039 12 21.372C17.176 20.04 21 15.342 21 9.74999C21 8.43999 20.79 7.17899 20.402 5.99899H20.25C17.054 5.99899 14.15 4.75099 12 2.71399Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.PhoneIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 1.5H8.25C7.65326 1.5 7.08097 1.73705 6.65901 2.15901C6.23705 2.58097 6 3.15326 6 3.75V20.25C6 20.8467 6.23705 21.419 6.65901 21.841C7.08097 22.2629 7.65326 22.5 8.25 22.5H15.75C16.3467 22.5 16.919 22.2629 17.341 21.841C17.7629 21.419 18 20.8467 18 20.25V3.75C18 3.15326 17.7629 2.58097 17.341 2.15901C16.919 1.73705 16.3467 1.5 15.75 1.5H13.5M10.5 1.5V3H13.5V1.5M10.5 1.5H13.5M10.5 20.25H13.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.LighteningIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.75 13.5L14.25 2.25L12 10.5H20.25L9.75 21.75L12 13.5H3.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.SEOIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.11499 5.19001L6.43399 7.10301C6.6395 8.33684 7.22548 9.47558 8.10999 10.36L9.74999 12L9.36299 12.775C9.14599 13.208 9.23099 13.731 9.57299 14.073L10.921 15.421C11.131 15.631 11.25 15.918 11.25 16.216V17.305C11.25 17.731 11.49 18.12 11.872 18.311L12.025 18.387C12.458 18.604 12.981 18.519 13.323 18.177L14.046 17.454C15.1609 16.3389 15.9517 14.9418 16.334 13.412C16.3837 13.2137 16.3765 13.0054 16.3132 12.811C16.2498 12.6166 16.133 12.444 15.976 12.313L14.646 11.205C14.395 10.995 14.064 10.906 13.741 10.96L12.571 11.155C12.3944 11.1844 12.2134 11.1712 12.043 11.1166C11.8725 11.062 11.7176 10.9675 11.591 10.841L11.296 10.546C11.1915 10.4415 11.1087 10.3175 11.0521 10.181C10.9956 10.0445 10.9665 9.89825 10.9665 9.75051C10.9665 9.60277 10.9956 9.45648 11.0521 9.31999C11.1087 9.1835 11.1915 9.05948 11.296 8.95501L11.426 8.82301C11.5931 8.65587 11.8087 8.54562 12.0421 8.50793C12.2754 8.47023 12.5147 8.507 12.726 8.61301L13.329 8.91501C13.4809 8.99131 13.6531 9.01779 13.8209 8.9907C13.9888 8.9636 14.1438 8.88431 14.2641 8.76408C14.3843 8.64385 14.4636 8.4888 14.4907 8.32094C14.5178 8.15309 14.4913 7.98096 14.415 7.82901L14.25 7.50001L15.506 6.66301C16.1573 6.22845 16.684 5.63145 17.034 4.93101L17.18 4.63901M6.11499 5.19001C4.6971 6.4153 3.69705 8.05262 3.25437 9.87355C2.81168 11.6945 2.94843 13.6082 3.64554 15.3476C4.34266 17.0871 5.56537 18.5656 7.14307 19.5768C8.72078 20.588 10.5748 21.0816 12.4464 20.9885C14.3181 20.8955 16.114 20.2206 17.5837 19.0579C19.0533 17.8952 20.1234 16.3027 20.6446 14.5027C21.1657 12.7026 21.112 10.7848 20.491 9.01678C19.8699 7.24873 18.7124 5.71765 17.18 4.63901M6.11499 5.19001C7.74849 3.77442 9.83845 2.99668 12 3.00001C13.929 3.00001 15.716 3.60601 17.18 4.63901" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.SearchIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9s-9-4.032-9-9s4.032-9 9-9m0 16c3.867 0 7-3.133 7-7s-3.133-7-7-7s-7 3.133-7 7s3.133 7 7 7m8.485.071l2.829 2.828l-1.415 1.415l-2.828-2.829z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.YoutubeIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-opacity='0' d='M12 11L12 12L12 13z'%3E%3Canimate fill='freeze' attributeName='d' begin='0.6s' dur='0.2s' values='M12 11L12 12L12 13z;M10 8.5L16 12L10 15.5z'/%3E%3Cset fill='freeze' attributeName='fill-opacity' begin='0.6s' to='1'/%3E%3C/path%3E%3Cpath fill='none' stroke='%23000' stroke-dasharray='64' stroke-dashoffset='64' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5c9 0 9 0 9 7c0 7 0 7 -9 7c-9 0 -9 0 -9 -7c0 -7 0 -7 9 -7Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='64;0'/%3E%3C/path%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.InstagramIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cpath id='lineiconsInstagram0' fill='%23000' d='M8.667 12a3.333 3.333 0 1 1 6.667 0a3.333 3.333 0 0 1-6.667 0m-1.802 0a5.135 5.135 0 1 0 10.27 0a5.135 5.135 0 0 0-10.27 0m9.273-5.338a1.2 1.2 0 1 0 1.2-1.2a1.2 1.2 0 0 0-1.2 1.2M7.96 20.14c-.975-.045-1.505-.207-1.857-.344a3.1 3.1 0 0 1-1.15-.748a3.1 3.1 0 0 1-.748-1.15c-.138-.352-.3-.882-.344-1.857c-.049-1.054-.058-1.37-.058-4.04s.01-2.987.058-4.042c.044-.975.208-1.504.344-1.857c.181-.467.398-.8.748-1.15s.682-.567 1.15-.748c.352-.138.882-.3 1.857-.344C9.014 3.81 9.33 3.8 12 3.8s2.986.01 4.041.059c.975.044 1.504.208 1.857.344c.467.18.8.398 1.15.748s.567.683.749 1.15c.137.352.3.882.343 1.857c.049 1.055.059 1.37.059 4.041c0 2.67-.01 2.986-.059 4.041c-.044.975-.207 1.505-.343 1.857a3.1 3.1 0 0 1-.748 1.15a3.1 3.1 0 0 1-1.15.748c-.353.137-.883.3-1.858.344c-1.054.048-1.37.058-4.041.058c-2.67 0-2.986-.01-4.04-.058M7.877 2.06c-1.064.049-1.792.218-2.427.465a4.9 4.9 0 0 0-1.772 1.153A4.9 4.9 0 0 0 2.525 5.45c-.247.636-.416 1.363-.464 2.427C2.01 8.943 2 9.284 2 12s.011 3.057.06 4.123c.049 1.064.218 1.791.465 2.427a4.9 4.9 0 0 0 1.153 1.771a4.9 4.9 0 0 0 1.772 1.154c.636.247 1.363.416 2.427.464C8.944 21.988 9.284 22 12 22s3.057-.011 4.123-.06c1.064-.049 1.791-.218 2.427-.465a4.9 4.9 0 0 0 1.771-1.154a4.9 4.9 0 0 0 1.154-1.77c.247-.637.417-1.364.464-2.428c.049-1.067.06-1.407.06-4.123s-.011-3.057-.06-4.123c-.048-1.064-.217-1.792-.464-2.427a4.9 4.9 0 0 0-1.154-1.772a4.9 4.9 0 0 0-1.77-1.153c-.637-.247-1.364-.417-2.427-.464C15.057 2.012 14.717 2 12 2s-3.057.011-4.124.06'/%3E%3C/defs%3E%3Cuse href='%23lineiconsInstagram0'/%3E%3Cuse href='%23lineiconsInstagram0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.LinkedinIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.MidNightIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M-90.24 1.89c-5.56 0-10.09 4.53-10.09 10.09s4.53 10.09 10.09 10.09s10.09-4.53 10.09-10.09s-4.53-10.09-10.09-10.09m5.74 15.51h-11.31c-.33 0-.6-.27-.6-.6s.27-.6.6-.6h11.31c.33 0 .6.27.6.6s-.27.6-.6.6m0-2.4h-11.31c-.33 0-.6-.27-.6-.6s.27-.6.6-.6h11.31c.33 0 .6.27.6.6s-.27.6-.6.6m0-2.4h-11.31c-.33 0-.6-.27-.6-.6s.27-.6.6-.6h11.31c.33 0 .6.27.6.6s-.27.6-.6.6m0-2.4h-11.31c-.33 0-.6-.27-.6-.6s.27-.6.6-.6h11.31c.33 0 .6.27.6.6s-.27.6-.6.6m0-2.4h-11.31c-.33 0-.6-.27-.6-.6s.27-.6.6-.6h11.31c.33 0 .6.27.6.6s-.27.6-.6.6m105.69 7.96a.49.49 0 0 0-.57-.09c-1.05.52-2.16.78-3.3.78c-4.14 0-7.5-3.37-7.5-7.5c0-2.38 1.1-4.57 3.03-6.01c.17-.12.19-.34.13-.54s-.29-.35-.49-.36c-.05 0-.11-.01-.16-.01c-5.5 0-9.98 4.48-9.98 9.98s4.48 9.98 9.98 9.98c3.79 0 7.31-2.21 8.97-5.64a.55.55 0 0 0-.11-.59M17.9 5.1l.92-1.76c.02-.04.02-.09-.01-.13s-.08-.06-.12-.05l-1.96.34l-1.39-1.42c-.03-.03-.08-.05-.13-.03c-.05.01-.08.05-.08.1l-.28 1.96l-1.78.88c-.04.02-.07.06-.07.11s.03.09.07.11l1.78.88l.29 1.96c.01.05.04.09.08.1c.01 0 .03.01.04.01c.03 0 .07-.01.09-.04l1.38-1.42l1.96.33c.05.01.09-.01.12-.05s.03-.09.01-.13zm3.2 4.52l.56-1.06c.02-.04.02-.09-.01-.13s-.07-.06-.12-.05l-1.18.2l-.83-.85c-.03-.03-.08-.05-.13-.03c-.05.01-.08.05-.08.1l-.17 1.18l-1.07.53c-.04.02-.07.06-.07.11s.03.09.07.11l1.07.53l.17 1.18c.01.05.04.09.08.1c.01 0 .03.01.04.01c.03 0 .07-.01.09-.04l.83-.86l1.18.2c.05.01.09-.01.12-.05s.03-.09.01-.13zm-4.66 2.77l.56-1.06c.02-.04.02-.09-.01-.13s-.07-.06-.12-.05l-1.18.2l-.83-.85c-.03-.03-.08-.05-.13-.03c-.05.01-.08.05-.08.1l-.17 1.18l-1.07.53c-.04.02-.07.06-.07.11s.03.09.07.11l1.07.53l.17 1.18c.01.05.04.09.08.1c.01 0 .03.01.04.01c.03 0 .07-.01.09-.04l.83-.86l1.18.2c.05.01.09-.01.12-.05s.03-.09.01-.13z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.NightIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M264 480A232 232 0 0 1 32 248c0-94 54-178.28 137.61-214.67a16 16 0 0 1 21.06 21.06C181.07 76.43 176 104.66 176 136c0 110.28 89.72 200 200 200c31.34 0 59.57-5.07 81.61-14.67a16 16 0 0 1 21.06 21.06C442.28 426 358 480 264 480'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.DarkIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M16.014 1c8.285 0 15 6.716 15 15s-6.715 15-15 15s-15-6.716-15-15s6.716-15 15-15M5.491 23.634a13.05 13.05 0 0 0 5.228 4.242a3.5 3.5 0 0 0-5.228-4.242m18.842 2.357a13.04 13.04 0 0 0 3.67-4.955a3.5 3.5 0 0 0-3.67 4.955M15.5 7a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3m-6 9a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7M25 11.5a2.5 2.5 0 1 0-5 0a2.5 2.5 0 0 0 5 0M19.5 21a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ArrowIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='non-zero' d='M13.069 5.157L8.384 9.768a.546.546 0 0 1-.768 0L2.93 5.158a.55.55 0 0 0-.771 0a.53.53 0 0 0 0 .759l4.684 4.61a1.65 1.65 0 0 0 2.312 0l4.684-4.61a.53.53 0 0 0 0-.76a.55.55 0 0 0-.771 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.WhatsappIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.FacebookIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M15.12 5.32H17V2.14A26 26 0 0 0 14.26 2c-2.72 0-4.58 1.66-4.58 4.7v2.62H6.61v3.56h3.07V22h3.68v-9.12h3.06l.46-3.56h-3.52V7.05c0-1.05.28-1.73 1.76-1.73'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.TwitterIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10.488 14.651L15.25 21h7l-7.858-10.478L20.93 3h-2.65l-5.117 5.886L8.75 3h-7l7.51 10.015L2.32 21h2.65zM16.25 19L5.75 5h2l10.5 14z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.Arrow2Icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.325 12.85q-.225-.15-.337-.375T5.874 12t.113-.475t.337-.375l8.15-5.175q.125-.075.263-.112T15 5.825q.4 0 .7.288t.3.712v10.35q0 .425-.3.713t-.7.287q-.125 0-.262-.038t-.263-.112z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.HeartOutlineIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M458.4 64.3C400.6 15.7 311.3 23 256 79.3C200.7 23 111.4 15.6 53.6 64.3C-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9c14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3m-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7c38.9-32.7 98.9-27.8 136.5 10.5l35 35.7l35-35.7c37.8-38.5 97.8-43.2 136.5-10.6c51.1 43.1 43.5 113.9 7.3 150.8'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.CommentIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9 22a1 1 0 0 1-1-1v-3H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6.1l-3.7 3.71c-.2.19-.45.29-.7.29zM5 5v2h14V5zm0 4v2h8V9zm0 4v2h10v-2z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.LoadingIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Ccircle cx='12' cy='3' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotate0' attributeName='r' begin='0;svgSpinners12DotsScaleRotate2.end-0.625s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='16.5' cy='4.21' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotate1' attributeName='r' begin='svgSpinners12DotsScaleRotate0.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='7.5' cy='4.21' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotate2' attributeName='r' begin='svgSpinners12DotsScaleRotate4.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='19.79' cy='7.5' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotate3' attributeName='r' begin='svgSpinners12DotsScaleRotate1.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='4.21' cy='7.5' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotate4' attributeName='r' begin='svgSpinners12DotsScaleRotate6.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='21' cy='12' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotate5' attributeName='r' begin='svgSpinners12DotsScaleRotate3.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='3' cy='12' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotate6' attributeName='r' begin='svgSpinners12DotsScaleRotate8.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='19.79' cy='16.5' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotate7' attributeName='r' begin='svgSpinners12DotsScaleRotate5.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='4.21' cy='16.5' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotate8' attributeName='r' begin='svgSpinners12DotsScaleRotatea.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='16.5' cy='19.79' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotate9' attributeName='r' begin='svgSpinners12DotsScaleRotate7.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='7.5' cy='19.79' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotatea' attributeName='r' begin='svgSpinners12DotsScaleRotateb.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3Ccircle cx='12' cy='21' r='1' fill='%23000'%3E%3Canimate id='svgSpinners12DotsScaleRotateb' attributeName='r' begin='svgSpinners12DotsScaleRotate9.begin+0.125s' calcMode='spline' dur='0.75s' keySplines='.27,.42,.37,.99;.53,0,.61,.73' values='1;2;1'/%3E%3C/circle%3E%3CanimateTransform attributeName='transform' dur='7.5s' repeatCount='indefinite' type='rotate' values='360 12 12;0 12 12'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.UserIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2M8.5 9.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0m9.758 7.484A7.99 7.99 0 0 1 12 20a7.99 7.99 0 0 1-6.258-3.016C7.363 15.821 9.575 15 12 15s4.637.821 6.258 1.984'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.NoImageIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='m12.309 13.016l1.837 1.838a.5.5 0 0 0 .708-.708l-13-13a.5.5 0 1 0-.708.708L2.414 3.12A2.5 2.5 0 0 0 2 4.5v5A2.5 2.5 0 0 0 4.5 12h5c.51 0 .983-.152 1.379-.414l.717.717A3.5 3.5 0 0 1 9.5 13H5c.456.607 1.182 1 2 1h2.5a4.48 4.48 0 0 0 2.809-.984m-2.162-2.162A1.5 1.5 0 0 1 9.5 11h-5c-.232 0-.45-.053-.647-.146l2.645-2.645a.71.71 0 0 1 1.001-.003l.003.003zM6.402 7.109a1.7 1.7 0 0 0-.611.393l-2.645 2.645A1.5 1.5 0 0 1 3 9.5v-5c0-.232.052-.45.146-.647zM11 4.5v4.379l.975.975Q12 9.68 12 9.5v-5A2.5 2.5 0 0 0 9.5 2h-5q-.18 0-.354.025L5.121 3H9.5A1.5 1.5 0 0 1 11 4.5m1.797 6.176l.764.764A4.5 4.5 0 0 0 14 9.5V6c0-.818-.393-1.544-1-2v5.5c0 .413-.072.809-.203 1.176M10 5a1 1 0 1 1-2 0a1 1 0 0 1 2 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.CategoryIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.206 2.632a11 11 0 0 0-2.412 0A1.31 1.31 0 0 0 2.64 3.776a10.5 10.5 0 0 0 0 2.448c.07.606.556 1.077 1.154 1.144c.795.09 1.617.09 2.412 0A1.31 1.31 0 0 0 7.36 6.224a10.6 10.6 0 0 0 0-2.448a1.31 1.31 0 0 0-1.154-1.144m7 0a11 11 0 0 0-2.411 0A1.31 1.31 0 0 0 9.64 3.776a10.5 10.5 0 0 0 0 2.448c.07.606.556 1.077 1.154 1.144c.795.09 1.617.09 2.412 0a1.31 1.31 0 0 0 1.154-1.144a10.6 10.6 0 0 0 0-2.448a1.31 1.31 0 0 0-1.154-1.144m7 0a11 11 0 0 0-2.411 0a1.31 1.31 0 0 0-1.155 1.144a10.5 10.5 0 0 0 0 2.448c.07.606.556 1.077 1.154 1.144c.795.09 1.617.09 2.412 0a1.31 1.31 0 0 0 1.154-1.144a10.6 10.6 0 0 0 0-2.448a1.31 1.31 0 0 0-1.154-1.144m-14 7a11 11 0 0 0-2.412 0a1.31 1.31 0 0 0-1.154 1.144a10.5 10.5 0 0 0 0 2.448c.07.606.556 1.077 1.154 1.144c.795.09 1.617.09 2.412 0a1.31 1.31 0 0 0 1.154-1.144a10.6 10.6 0 0 0 0-2.448a1.31 1.31 0 0 0-1.154-1.144m7 0a11 11 0 0 0-2.411 0a1.31 1.31 0 0 0-1.155 1.144a10.5 10.5 0 0 0 0 2.448c.07.606.556 1.077 1.154 1.144c.795.09 1.617.09 2.412 0a1.31 1.31 0 0 0 1.154-1.144a10.5 10.5 0 0 0 0-2.448a1.31 1.31 0 0 0-1.154-1.144m7 0a11 11 0 0 0-2.411 0a1.31 1.31 0 0 0-1.155 1.144a10.5 10.5 0 0 0 0 2.448c.07.606.556 1.077 1.154 1.144c.795.09 1.617.09 2.412 0a1.31 1.31 0 0 0 1.154-1.144a10.5 10.5 0 0 0 0-2.448a1.31 1.31 0 0 0-1.154-1.144m-14 7a11 11 0 0 0-2.412 0a1.31 1.31 0 0 0-1.154 1.144a10.5 10.5 0 0 0 0 2.448c.07.606.556 1.077 1.154 1.144c.795.09 1.617.09 2.412 0a1.31 1.31 0 0 0 1.154-1.144a10.6 10.6 0 0 0 0-2.448a1.31 1.31 0 0 0-1.154-1.144m7 0a11 11 0 0 0-2.411 0a1.31 1.31 0 0 0-1.155 1.144a10.5 10.5 0 0 0 0 2.448c.07.606.556 1.077 1.154 1.144c.795.09 1.617.09 2.412 0a1.31 1.31 0 0 0 1.154-1.144a10.5 10.5 0 0 0 0-2.448a1.31 1.31 0 0 0-1.154-1.144m7 0a11 11 0 0 0-2.411 0a1.31 1.31 0 0 0-1.155 1.144a10.5 10.5 0 0 0 0 2.448c.07.606.556 1.077 1.154 1.144c.795.09 1.617.09 2.412 0a1.31 1.31 0 0 0 1.154-1.144a10.5 10.5 0 0 0 0-2.448a1.31 1.31 0 0 0-1.154-1.144'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
